html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#nybild {
    background-image: url(../pictures/kopia.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#hela4 {
    width: 460px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}


/*news funtionen*/

.dhmcss {
    width: 100%;
    background: #FFFFFF;
    COLOR: #5C5C5C;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.dhmcssover {
    width: 100%;
    background: #EC941C;
    COLOR: #FFFFFF;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.dhmcssdown {
    width: 100%;
    background: #ACDCA5;
    COLOR: #000000;
    FONT-FAMILY: verdana, arial, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    padding-top: 1px;
    padding-bottom: 1px;
    TEXT-DECORATION: none;
}

.duztext {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height: 18px;
}

.duztext2 {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 10px;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}

.kbaslik {
    COLOR: #222222;
    FONT-FAMILY: Arial, sans-serif, Geneva;
    FONT-SIZE: 11pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.bbaslik {
    COLOR: #222222;
    FONT-FAMILY: Arial, Arial, Geneva;
    FONT-SIZE: 13pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

A:link {
    text-decoration: none;
    font-size: 12px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

A:visited {
    text-decoration: none;
    font-size: 10px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

A:hover {
    text-decoration: underline;
    font-size: 10px;
    font-family: "Arial", "Helvetica", "sans-serif";
}

a {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 12px;
}

#indexarticle1 {
    margin-top: 10px;
    border-radius: 5px;
    border: 4px green;
    border-style: outset;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: 400px;
    height: 600px;
    background-color: white;
    background-image: linear-gradient(to bottom, rgba(240, 255, 40, 1) 100%), linear-gradient(to bottom, rgba(240, 40, 40, 1) 0%, rgba(240, 40, 40, 1) 100%);
    background-clip: content-box, padding-box;
}

#indexarticle2 {
    border-radius: 5px;
    margin-top: 10px;
    border: 4px green;
    border-style: outset;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 275px;
    background-color: white;
}

#h1tag {
    display: none;
}

.hidden {
    display: none;
}

#rela {
    background-color: #094385;
    font-size: 25px;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 5px black;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    margin-bottom: 5px;
}

.divenindex {
    background-color: rgb(215, 215, 215);
}

#lagdam {
    text-align: center;
    font-size: 22px;
    padding-bottom: 5px;
}

.listski {
    list-style-type: disc;
    padding-left: 35px;
}

.lenka {
    font-size: 15px;
    font-style: italic;
}

#herrski {
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
}

#segernforaseda {
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
}

#fest {
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
}

#kiosk {
    margin-top: 15px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 5px;
}

#footer {
    margin-top: 10px;
    height: auto;
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#footer h3 {
    padding-top: 13px;
    font-family: 'Roboto Slab', serif;
    color: black;
    font-size: 15px;
}

#footertext {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#bildski {
    background-image: url("../pictures/damlag.jpg");
    width: 270px;
    height: 96px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#nyaart {
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
    padding: 10px;
    width: 250px;
    border: 4px green;
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sece {
    border: 1px solid black;
}

#head4 {
    padding: 5px;
    font-weight: bold;
}

#head44 {
    padding: 5px;
    font-weight: bold;
}

#back {
    padding: 5px;
    font-weight: bold;
}

#head3 {
    padding: 5px;
    font-weight: bold;
}

#headboll {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    background-color: rgb(200, 200, 235);
}

.gro {
    background-color: gray;
}

#train {
    padding: 5px;
    font-weight: bold;
    background-color: gray;
}

#barnh2 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
}

#barn3 {
    padding: 5px;
    font-size: 17px;
}

#pbarn {
    width: auto;
    padding: 10px;
    line-height: 20px;
}

#alle {
    padding: 10px;
    width: auto;
    line-height: 20px;
}

#olikal {
    padding: 10px;
    width: auto;
    line-height: 20px;
}

.listen {
    list-style-type: disc;
    padding: 5px 15px 5px 25px;
}

#hela {
    width: 440px;
    height: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#kalle {
    font-weight: bold;
    padding: 5px;
}

#match {
    border-radius: 5px;
    width: 400px;
    padding: 10px;
    background-color: rgb(225, 225, 225);
    border: 1px solid black;
    border: 4px green;
    border-style: outset;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#resultat {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
}

#chall {
    font-style: italic;
}

#lagsvag {
    border: 1px solid black;
    background-color: rgb(145, 145, 195);
}

.hej15 {
    background-color: gray;
}

#footer1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: auto;
    width: auto;
    text-align: center;
}

#footertext1 {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table thead tr td {
    padding: 5px;
}

tr td {
    padding: 5px;
}

.storre:visited {
    font-size: 16px;
    font-weight: bold;
}

.storre:link {
    font-size: 16px;
    font-weight: bold;
}

#knatteArticle {
    background-color: white;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 4px green;
    border-style: outset;
}

#knatteArticle h2 {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
}

#textBoxH {
    color: green;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 3px;
}

#knatte {
    width: 350px;
    /*background-color: white;*/
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#knattebild {
    width:340px;
    height:200px;
   
}

#knatte img {
    box-shadow: 5px 5px 5px black;
    background-repeat: no-repeat;
    background-size: 250px 200px;
    margin-top: 10px;
    
    border: 2px solid black;
    border-radius: 3px;
}

#fair {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    font-style: oblique;
    padding-left: 5px;
    font-size: large;
}

#textbox {
    margin-left:5px;
    
    text-align:center;
    padding-bottom: 20px;
    padding-top: 50px;
}

#textBoxH {
    color: green;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 28%;
}

#textbox ul li {
    margin-top: 20px;
    background-image: url('../pictures/football.png');
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 19px;
}

#lankanmalan {
    margin-top: 10px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    
    padding-bottom: 29px;
}

#lankanmalan a {
    text-decoration: none;
    font-size: 20px;
}

#hela1 {
    width: 440px;
    height: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#footertext15 {
    width: auto;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#footer15 {
    margin-top: 50px;
    height: 60px;
    width: auto;
}

#ark {
    border: 4px green;
    border-style: outset;
    width: 380px;
    height: auto;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
}

#bordern {
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
    background-color: rgb(175, 175, 175);
}

#barnh2 {
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 5px;
    text-align: center;
}

#barn3 {
    padding: 5px;
    font-size: 17px;
}

#pbarn {
    width: auto;
    padding: 10px;
    line-height: 20px;
}

#paran {
    border: 1px solid black;
    margin: 3px;
    background-color: rgb(235, 235, 235);
}

#alle {
    padding: 10px;
    width: auto;
    line-height: 20px;
}

#olikal {
    padding: 10px;
    width: auto;
    line-height: 20px;
}

#damerna {
    font-style: italic;
    padding: 3px;
}

#container {
    width: 350px;
    height: 300px;
    background-color: rgb(225, 225, 225);
    margin-left: auto;
    margin-right: auto;
    border: 4px green;
    border-style: outset;
    border-radius: 5px;
    margin-top: 5px;
}

#form {
    float: left;
    width: auto;
    height: auto;
    border: 1px solid gray;
}

textfield {
    margin: 10px;
    padding: 9px;
    height: 40px;
    width: 100px;
}

.button {
    height: 40px;
    width: 40px;
    border-radius: 12px;
}

.tg {
    border: 1px solid #333;
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    border-color: #333;
    border-style: none;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-yw4l {
    vertical-align: top;
}

#form {
    float: left;
    width: auto;
    height: auto;
    border: 1px solid gray;
}

#hela2 {
    width: 440px;
    height: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#hela02 {
    width: 440px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#hela66 {
    width: 440px;
    height: 1250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#content {
    margin-top: 15px;
    margin-left: 10px;
}

.gamesHeader {
    margin-left: 33px;
}

#emailBox {
    margin-left: 42px;
}

#firstNameBox {
    margin-left: 23px;
}

#phoneNumberBox {
    margin-left: 13px;
}

#textBox {
    margin-left: 25px;
}

#footer14 {
    margin-top: 50px;
    height: 60px;
    width: auto;
}

#footertext14 {
    width: auto;
    text-align:center;
}

#continuebutton {
    margin-left: 200px;
}

#footer001 {
    margin-top: 155px;
    height: 60px;
    width: auto;
}

#footertext001 {
    width: auto;
    text-align:center;
}

#hela3 {
    width: 450px;
    height: 1750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#art {
    border-radius: 5px;
    margin-top:5px;
    border: 4px green;
    border-style: outset;
    width: 420px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(215, 215, 215);
}

#policyinnehall {
    padding: 0px 25px 0px 25px;
}

#str {
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
}

#first {
    padding: 15px 15px;
}

#second {
    padding: 15px 15px;
}

#third {
    padding: 15px 15px;
}

#over {
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
}

#fourth {
    padding: 15px 15px;
}

.lists {
    padding: 5px 35px 5px 35px;
    list-style-type: disc;
}

.liulett {
    padding: 3px 3px;
}

#over2 {
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
}

#fifth {
    padding: 15px 15px;
}

#policen {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

#footer13 {
    margin-top: 50px;
    height: 60px;
    width: auto;
    text-align:center;
}

#footertext13 {
    width: auto;
    text-align:center;
}

#hela5 {
    width: 450px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#SpelareArticle {
    background-color: white;
    width: 350px;
    height: 800px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid black;
}

#Spelare {
    margin: 5px 45px 0px 45px;
    font-size: 35px;
    padding: 1px;
    border: 2px solid black;
    text-align: center;
    border-bottom: dashed 1px;
    border-left: dashed 1px;
    border-right: dashed 1px;
    border-radius: 5px;
}

#section1 {
    margin-left: 15px;
    margin-top: 450px;
    border: 1px solid black;
    border: outset;
    padding: 10px;
    width: 300px;
}

#forborder {
    margin: 10px 5px 5px 5px;
    float: right;
    width: 300px;
    height: 425px;
    border: 1px solid black;
}

#helbild {
    margin-left: 5px;
}

.valle {
    margin-top: 3px;
    padding-bottom: 12px;
    padding-top: 12px;
}

#back15 {
    margin: 20px;
}

.ferg {
    background-color: rgb(225, 225, 225);
}

.bildtillprofil {
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    margin: 3px;
}

#bild13 {
    background-image: url(../pictures/eyy.JPG);
}

#bild12 {
    background-image: url(../pictures/bollkalle.jpg);
}

#bild14 {
    background-image: url(../pictures/stinab.jpg);
}

#bild15 {
    background-image: url(../pictures/stinaa.jpg);
}

#bild16 {
    background-image: url(../pictures/milan.jpg);
}

#bild17 {
    background-image: url(../pictures/petras.jpg);
}

#bild18 {
    background-image: url(../pictures/petrag.jpg);
}

#bild19 {
    background-image: url(../pictures/kajsa.jpg);
}

#bild20 {
    background-image: url(../pictures/maria.jpg);
}

#bild21 {
    background-image: url(../pictures/kristina.JPG);
}

#bild22 {
    background-image: url(../pictures/jasminp.jpg);
}

#bild23 {
    background-image: url(../pictures/jasminn.JPG);
}

#bild24 {
    background-image: url(../pictures/birgitta.jpg);
}

#bild25 {
    background-image: url(../pictures/emmak.JPG);
}

#bild26 {
    background-image: url(../pictures/damtrenare.jpg);
}

#footer100 {
    margin-top: 35px;
    height: 60px;
    width: auto;
    text-align:center;
}

#footertext10 {
    width: auto;
    text-align:center;
}

#firstNameBox1 {
    margin-left: 23px;
}

#bild100 {
    background-image: url(../pictures/niklasthorsson.jpg);
}

#bild101 {
    background-image: url(../pictures/peterolsson.jpg);
}

#bild102 {
    background-image: url(../pictures/karlpersson.jpg);
}

#bild103 {
    background-image: url(../pictures/ronaldocarlsson.jpg);
}

#bild104 {
    background-image: url(../pictures/oladanielsson.jpg);
}

#bild105 {
    background-image: url(../pictures/magnuskarlsson.jpg);
}

#bild106 {
    background-image: url(../pictures/nilssvensson.jpg);
}

#bild107 {
    background-image: url(../pictures/bertpettersson.jpg);
}

#bild108 {
    background-image: url(../pictures/kristernilsson.jpg);
}

#bild109 {
    background-image: url(../pictures/bertilsverkersson.jpg);
}

#bild110 {
    background-image: url(../pictures/kristofferjaremo.jpg);
}

#bild111 {
    background-image: url(../pictures/pellejonsson.jpg);
}

#bild112 {
    background-image: url(../pictures/permagnusson.jpg);
}

#bild113 {
    background-image: url(../pictures/alexsvensson.jpg);
}

#bild114 {
    background-image: url(../pictures/johanolsson.jpg);
}

#hela10 {
    width: 450px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    border: 2px solid black;
}

#footer01 {
    margin-top: 210px;
    height: 60px;
    width: auto;
}

#footertext01 {
    width: auto;
    text-align:center;
}


#bildherr {
    margin-top:5px;
    background-image: url(../pictures/herrlaget.jpg);
    width: 350px;
    height: 264px;
    background-size: contain;
    border-radius: 5px;
   
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

#bilddam {
    background-image: url(../pictures/damlaget.jpg);
    width: 300px;
    margin-top:5px;
    height: 240px;
    background-size: cover;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
}

#welcome {
    margin-top: 10px;
    padding: 10px 80px 10px 80px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(205, 225, 225);
    border-radius: 50px;
}

#mengd {
    padding: 10px 80px 10px 80px;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    background-color: rgb(225, 205, 225);
    border-radius: 50px;
}

#welcome {
    margin-top: 10px;
    padding: 10px 80px 10px 80px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(205, 225, 225);
    border-radius: 50px;
}

#mengd {
    padding: 10px 80px 10px 80px;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    background-color: rgb(225, 205, 225);
    border-radius: 50px;
}

#groo {
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgb(235, 235, 225);
    margin-left: 45px;
    margin-right: 45px;
}

.yoyo {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 15px;
}

.font:link {
    font-size: 20px;
}

div .example {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.example {
    background-image: url("../pictures/m.jpg");
    width: 290px;
    border: 1px white solid;
    padding: 15px;
    margin-top: 1px;
    margin-left: 10px;
    display: none;
}

.example p {
    font-size: 19px;
    font-family: 'Lora', serif;
    padding-left: 16px;
    display: none;
}

.post_results {
    margin: 5px;
    width: 130px;
    border: 1px solid #444;
    float: left;
    display: none;
}

.post_results ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    display: none;
}

.post_results ul li {
    background: #555555;
    background: -moz-linear-gradient(top, #555555 0%, #444444 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #444444));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555555 0%, #444444 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555555 0%, #444444 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #555555 0%, #444444 100%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#444444', GradientType=0);
    /* IE6-9 */
    background: linear-gradient(top, #555555 0%, #444444 100%);
    /* W3C */
    height: 63px;
    padding: 10px;
    display: none;
}

.post_results ul li:hover {
    background: #666;
    display: none;
}

.post_results ul li a {
    color: #fff;
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-bottom: 2px;
    font-family: 'Lora', serif;
    display: none;
}

.post_results ul li a:hover {
    color: #eee;
    display: none;
}

.post_results ul li p {
    color: #ddd;
    font-size: 8px;
    margin: 0;
    display: block;
    display: none;
}

.ul {
    width: 100%;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

.li {
    border: 1px solid black;
    width: 120px;
    height: 40px;
    background-color: rgb(144, 144, 144);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.klass {
    display: block;
    color: white;
    font-size: 150%;
    font-family: sans-serif;
    height: 100%;
}

#meny2 {
    width: 440px;
    height: 60px;
}

#meny {
    display: block;
    background-color: grey;
    border-radius: 10px;
}

#i-nav {
    display: block;
    position: absolute;
    right: 20px;
    width: 60px;
    top: 15px;
    height: 44px;
    background: black;
    text-align: center;
    color: white;
    border-radius: 7px;
}

.show {
    display: block;
}